.carousel-content {
  width: 50%;
  height: 80%;
  float: left;
  overflow: hidden;
}

.carousel-inner {
  position: absolute;
  bottom: 0;
}

.carousel.slide{
  height: 100%;
}

.carousel-caption {
  top: 30%;
  bottom: auto;
  border: 1px solid $neon-purple;
  background-color: $trans-black;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: $neon-purple;
  opacity: 0.3;
  z-index: 1000;
}

.carousel-caption {
  z-index: 2000;
}

.street-view-image {
  filter: contrast(150%);
  /* Browser Specific*/
  -webkit-filter: contrast(150%);
  -moz-filter: contrast(150%);
  -o-filter: contrast(150%);
  -ms-filter: contrast(150%);
}

.item h4 {
  margin: 15px 0;
}
