$font-color: #a19d9d;
$trans-black: rgba(0, 0, 0, .7);
$shadow-black: rgba(0, 0, 0, .7);
$trans-white: rgba(255, 255, 255, .3);
$aqua: rgba(0, 255, 255, .8);
$alt-font-color: #444;
$black: #000;
$off-white: #eee;
$invalid: #f00;
$light-grey: #c2babd;
$pink: #c72f85;
$dark-purple: rgba(42, 19, 65, 0.5);
