.map-area {
    // padding: 20px 0;
    height: 10%;
}

.map {
    // height: 500px;
    height: 60%;
    width: 50%;
    float: left;
    color: $alt-font-color;
}

@media(max-width:768px) {
    .map {
        height: 45%;
    }
}
