.map-area {
    // padding: 20px 0;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-area h3 {
  margin: 0 auto;
}

.map {
    // height: 500px;
    height: 80%;
    width: 50%;
    float: left;
    color: $alt-font-color;
}

@media(max-width:768px) {
    .map {
        height: 45%;
    }
}
