.map-area {
    // padding: 20px 0;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    // height: 500px;
    height: 79%;
    width: 50%;
    float: left;
    color: $alt-font-color;
}

@media(max-width:768px) {
    .map {
        height: 45%;
    }
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav p {
  font-size: 1.2em;
  color: white;
}

.navbar {
  margin: 0;
  padding: 2px;
}
