.user-icon-wrapper {
  display: flex;
  justify-content: center;
}

.user-image {
  font-size: 6em;
  // width: 150px;
  // height: 150px;
  margin-bottom: -10px;
  margin-top: -20px;
  z-index: -1;
}

.user-profile {
  clear: both;
  width: 100%;
  color: $off-white;
}

.horizontal-list li {
  display: inline;
  font-size: 5.5em;
  padding: 0 15px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $aqua;
  }
}

.horizontal-list {
  padding: 0;
  text-align: center;
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clicked {
  color: $aqua;
}

.clear {
  color: $off-white;
}

.update-profile-links {
  // color: $font-color;
  font-weight: lighter;
  font-size: 1em;
  z-index: 1000;
}

.fav-list {
  text-decoration: none;
}

.fav-list-item {
  padding: 20px 0;
}

.bar-name {
  margin-bottom: -2px;
}

.bar-address {
  font-weight: normal;
}

.rating {
  font-size: 1.5em;
  color: $pink;
}

.btn-delete-bar {
  margin-left: 50px;
}

.rating-delete-group {
  position: absolute;
  left: 350px;
}

.favs-title {
  padding-top: 10px;
}

.divider {
  height: 100px;
  width: 50px;
  margin-top: 50px;
  border-right: 1px solid $light-grey;
}
